/*
 * Copyright 2019 StreamSets Inc.
 */
.mat-element {
  font-family: 'Roboto Slab', serif;
  transition: all 250ms ease-in-out;
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.8);
  background: #f2f3f4;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.mat-element.disabled {
  cursor: default;
  opacity: 0.4;
}
.mat-element.enabled {
  background: #4BB0FD;
}
.mat-element:hover:not(.enabled) {
  background: #ffffff;
}
.mat-element.active {
  background: #CBF3F0;
}
.mat-element .symbol {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}
.mat-element .element {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.mat-element .number {
  font-style: italic;
  font-size: 0.7em;
  margin: 5px;
}
/* -------------------
	Elements
-------------------- */
.element-metal {
  color: #606060;
}
.element-alkali-metal {
  color: #839526;
}
.element-alkali-earth-metal {
  color: #2e7d57;
}
.element-transition-metal {
  color: #0263ad;
}
.element-lanthoid {
  color: #aa9c00;
}
.element-actinoid {
  color: #7a5600;
}
.element-metalloid {
  color: #861d1d;
}
.element-non-metal {
  color: #404c51;
}
.element-halogen {
  color: #564620;
}
.element-noble-gas {
  color: #3a3a81;
}
.element-lanthanoid-transitional-metal,
.element-actinoid-transitional-metal {
  color: #3a3a81;
}
.element-lanthanoid-transitional-metal .symbol,
.element-actinoid-transitional-metal .symbol {
  font-size: 0.8em;
}
