.mpc-bib-filter-controls {
  display: flex;
  margin-bottom: 1rem;
}

.mpc-bib-filter-input {
  margin-right: 1rem;
}

.mpc-bib-filter-sort-menu {
  margin-right: 1rem;
}

.mpc-bib-filter-sort-icon-bg {
  position: absolute;
  opacity: 0.3;
}
