.toggle-buttons {
  width: 100%;
  text-align: center;
}

.toggle-buttons button {
  font-size: 0.7em;
  height: 100%;
  border-radius: 0;
}

.toggle-buttons button:focus {
  box-shadow: none !important;
}

.toggle-buttons button:first-child {
  border-radius: 2em 0 0 2em;
}

.toggle-buttons button:last-child {
  border-radius: 0 2em 2em 0;
}

.toggle-buttons button:not(:first-child):not(:hover):not(.is-active) {
  border-left: none;
}

.toggle-buttons button:not(:first-child):hover,
.toggle-buttons .is-active:not(:first-child) {
  margin-left: -1px;
}

.toggle-buttons .is-active {
  background: hsl(217, 71%, 53%);
  color: #fff;
  border-color: #dbdbdb;
}
