.search-ui .panel {
  height: auto;
  max-height: 100%;
  position: relative;
}

.search-ui .panel-heading {
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 70px;
}

.search-ui .panel-block-container {
  max-height: 100%;
  overflow: auto;
  position: relative;
  padding-top: 70px;
}

.search-ui .panel-block-title {
  transition: 0.25s;
}

.search-ui .panel-block-title:hover {
  color: #000000 !important;
}

.search-ui .content > .column:last-child {
  overflow: hidden;
}

.search-ui .content {
  min-height: 100vh;
}