.search-ui .panel {
  height: auto;
  max-height: 100%;
  position: relative;
}

.search-ui .panel-heading {
  position: absolute;
  width: 100%;
  z-index: 4;
  height: 70px;
}

.search-ui .panel-block-container {
  max-height: 100%;
  overflow: auto;
  position: relative;
  padding-top: 70px;
}

.search-ui .panel-block-title > .button {
  padding: 1em;
  height: auto;
  text-align: left;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  transition: 0.25s;
}

.search-ui .panel-block-title > .button:hover {
  color: #000000 !important;
}

.search-ui .column.data-table-column {
  overflow: hidden;
}

.search-ui {
  min-height: 100vh;
}