.mpc-search-ui {
  min-height: 100vh;
}

.mpc-search-ui .panel {
  height: auto;
  max-height: 100%;
  position: relative;
}

.mpc-search-ui .panel-heading {
  /* position: absolute;
  width: 100%;
  z-index: 4;
  height: 70px; */
  background: #ebebeb;
}

.mpc-search-ui .panel-block.is-active {
  border-left: 4px solid #3273dc;
}

.mpc-search-ui .panel-block-title {
  margin: -0.5em -0.75em;
}

.mpc-search-ui .panel-block-title * {
  transition: 0.25s;
}

.mpc-search-ui .panel-block-title > .button {
  padding: 1em;
  height: auto;
  text-align: left;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  background: none;
}

.mpc-search-ui .panel-block.is-active .panel-block-title {
  transform: translate(-4px, 0);
}

.mpc-search-ui .panel-block-title > .button:hover {
  color: #000000 !important;
}

.mpc-search-ui .panel-block-title > .button:hover * {
  opacity: 1 !important;
}

.mpc-search-ui .panel-block-children {
  margin-top: 0.75rem;
  padding-left: 1rem;
}

.mpc-search-ui .mpc-search-ui-data-table {
  position: sticky;
  top: 0;
}

.mpc-search-ui .react-data-table-outer-container {
  position: relative;
}

.mpc-search-ui .react-data-table-container {
  width: 100%;
}

.mpc-search-ui .react-data-table {
  border-radius: 6px;
  overflow: auto;
  max-height: 700px;
}

.mpc-search-ui .rdt_TableHead {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: #bbb 0px 0px 4px;
}

.mpc-search-ui .react-data-table .column-header-right {
  text-align: right;
}

.mpc-search-ui .react-data-table .column-header-center {
  text-align: center;
}

.mpc-search-ui .react-data-table .column-units {
  font-weight: normal;
}

.mpc-search-ui .table-header {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.mpc-search-ui .table-header .subtitle {
  height: 0;
}

.mpc-search-ui .progress-container {
  /* height: 0;
  overflow-y: visible;
  z-index: 2;
  position: relative;
  top: 15px; */
  position: relative;
  flex-grow: 1;
  margin: 0 1em;
}

.mpc-search-ui .progress {
  /* height: 30px;
  opacity: 0.7; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mpc-search-ui .react-data-table-message {
  padding: 2rem;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.mpc-search-ui .react-data-table-message p:not(:first-child) {
  margin-top: 1rem;
}

.mpc-search-ui .has-tooltip-underline {
  border-bottom: 1px dotted;
  padding-bottom: 0.25rem;
}

.mpc-search-ui .filter-group-caret,
.mpc-search-ui .filter-cancel-button {
  vertical-align: text-bottom;
}

.mpc-search-ui .boolean-cell-wrapper {
  line-height: 1;
}

.mpc-search-ui-data-table-controls > * {
  text-align: left;
}

.mpc-search-ui-data-table-controls > *:not(:last-child) {
  margin-right: 0.25rem;
}
