.mpc-data-block-caret-container {
  /* padding-bottom: 0.5rem; */
  padding-top: 0.5rem;
  margin-right: 1.25rem;
  cursor: pointer;
}

.mpc-data-block-caret {
  height: 2rem;
  width: 2rem;
}

.mpc-data-block-top {
  display: flex;
}

.mpc-data-block-top.expanded {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}

.mpc-data-block.box .mpc-data-block-top {
  padding: 1.25rem;
  margin: -1.25rem;
}

.mpc-data-block.box .mpc-data-block-top.expanded {
  margin-bottom: 1.25rem;
}

.mpc-data-block-top .mpc-data-block-item-container {
  flex: 1;
  display: flex;
  /* justify-content: space-between; */
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.mpc-data-block-top .mpc-data-block-item {
  overflow: hidden;
  flex: 1;
}

.mpc-data-block-top .mpc-data-block-item:not(:first-child) {
  padding-left: 3rem;
}

.mpc-data-block-top .mpc-data-block-item .value {
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.mpc-data-block-top .tags {
  overflow: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.mpc-data-block-top .tags::after {
  content: '...';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #fff;
  padding-left: 0.25rem;
}

.mpc-data-block-bottom .mpc-data-block-item:not(:last-child) {
  margin-bottom: 1rem;
}
