body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sidebar-story {
	display: inline-block;
}

.sidebar-story .menu {
	position: fixed;
	width: 200px;
}

.sidebar-story .content {
	display: inline-block;
	margin-left: 200px;
	padding-left: 15px;
}

.sidebar-story .content p {
	height: 500px;
}
