.mpc-materials-input {
  position: relative;
}

.mpc-materials-input .autocomplete-right {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0;
  margin-left: 1em;
  border: solid 1px #eee;
  border-radius: 5px;
}

.mpc-materials-input .autocomplete-label {
  font-size: 0.8em;
  font-style: italic;
  padding: 0 0 0.5em 1em;
}

.mpc-materials-input .input[type='search'] {
  box-shadow: none;
}

.mpc-materials-input .control [data-tooltip] {
  border-left: none;
}

.mpc-materials-input .control [data-tooltip]:hover {
  border-left: 1px solid #b5b5b5;
}

.mpc-materials-input .mpc-materials-input-error {
  color: #d72638;
}

/* .mpc-materials-input .table-transition-wrapper-small {
  width: 600px;
  margin: auto;
  position: absolute;
  z-index: 500;
  top: 1.75rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.mpc-materials-input .table-legend-container.box {
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 6px 6px;
  background: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 4px 4px 1px #777;
} */
