.slider-container .input {
  flex-basis: 75px;
}

.slider {
  padding: 0 0.75em;
}

.slider-track {
  height: 1.5em;
  display: flex;
  justify-content: center;
}

.slider-track-inner {
  height: 5px;
  width: 100%;
  align-self: center;
}

.button.is-slider {
  padding: 0;
  height: 1.5em;
  width: 1.5em;
}

.button.is-slider > .inner-slider-button {
  height: 1em;
  width: 5px;
  background-color: #ccc;
}

.button.is-slider.is-dragged > .inner-slider-button {
  background-color: #3273dc;
}

.slider-tick-mark {
  height: 0.75em;
  width: 3px;
}

.slider-tick-value {
  position: absolute;
  top: 2em;
  font-size: 0.8em;
  transform: translate(-50%, 0);
}