.mpc-bib-card-top {
  display: flex;
}

.mpc-bib-card-buttons {
  padding-left: 0.5rem;
}

.mpc-bib-card-buttons > * {
  margin-left: 0.5rem;
}

.mpc-bib-card-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  flex: 1;
}

.mpc-bib-card-authors {
  margin-bottom: 0.5rem;
}

.mpc-bib-card-journal {
  font-style: italic;
}
