.mpc-search-ui > div,
.mpc-search-ui > div > .columns > .column {
  height: 100%;
}

.mpc-search-ui .mpc-search-ui-right {
  min-width: 0;
}

.mpc-search-ui .mpc-search-ui-right .mpc-inner-column-container {
  z-index: 1;
}

.mpc-search-ui .mpc-search-ui-left .mpc-inner-column-container {
  z-index: 2;
}

/* .mpc-search-ui .panel {
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
} */

.mpc-search-ui .panel-heading {
  /* position: absolute;
  width: 100%;
  z-index: 4;
  height: 70px; */
  background: #ebebeb;
}

.mpc-search-ui .panel-block-container {
  overflow: auto;
}

.mpc-search-ui .panel-block.is-active {
  border-left: 4px solid #3273dc;
}

.mpc-search-ui .panel-block-title {
  margin: -0.5em -0.75em;
}

.mpc-search-ui .panel-block-title * {
  transition: 0.25s;
}

.mpc-search-ui .panel-block-title > .button {
  padding: 1em;
  height: auto;
  text-align: left;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  background: none;
}

.mpc-search-ui .panel-block.is-active .panel-block-title {
  transform: translate(-4px, 0);
}

.mpc-search-ui .panel-block-title > .button:hover {
  color: #000000 !important;
}

.mpc-search-ui .panel-block-title > .button:hover * {
  opacity: 1 !important;
}

.mpc-search-ui .panel-block-children {
  margin-top: 0.75rem;
}

.mpc-search-ui .mpc-filter-field {
  margin-bottom: 1rem;
}

.mpc-search-ui .mpc-search-ui-data-table {
  height: 100%;
}

.mpc-search-ui .mpc-search-ui-data-view {
  flex: 1;
  min-height: 0;
}

.mpc-search-ui .react-data-table-outer-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mpc-search-ui .react-data-table-container {
  width: 100%;
  min-height: 0;
  flex: 1;
}

.mpc-search-ui .react-data-table {
  border-radius: 6px;
  overflow: auto;
  max-height: 100%;
}

.mpc-search-ui .rdt_TableHead {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: #bbb 0px 0px 4px;
}

.mpc-search-ui .react-data-table .column-header-right {
  text-align: right;
}

.mpc-search-ui .react-data-table .column-header-center {
  text-align: center;
}

.mpc-search-ui .react-data-table .column-units {
  font-weight: normal;
}

.mpc-search-ui .mpc-search-ui-data-header {
  margin-bottom: 0;
}

.mpc-search-ui .mpc-search-ui-data-header-content {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.mpc-search-ui .progress-container {
  /* height: 0;
  overflow-y: visible;
  z-index: 2;
  position: relative;
  top: 15px; */
  position: relative;
  flex-grow: 1;
  margin: 0 1em;
}

.mpc-search-ui .progress {
  /* height: 30px;
  opacity: 0.7; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mpc-search-ui .react-data-table-message {
  padding: 2rem;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.mpc-search-ui .react-data-table-message p:not(:first-child) {
  margin-top: 1rem;
}

.mpc-search-ui .has-tooltip-underline {
  border-bottom: 1px dotted;
  padding-bottom: 0.25rem;
}

.mpc-search-ui .filter-cancel-button {
  vertical-align: text-bottom;
}

.mpc-search-ui .filter-group-caret {
  height: 1.5rem;
  vertical-align: text-bottom;
}

.mpc-search-ui .boolean-cell-wrapper {
  line-height: 1;
}

.mpc-search-ui .mpc-search-ui-data-header-controls > * {
  text-align: left;
  margin-bottom: 0;
}

.mpc-search-ui-data-header-controls > *:not(:last-child) {
  margin-right: 0.25rem;
}

.mpc-search-ui-data-header-controls .field.has-addons {
  display: inline-flex;
}

.mpc-search-ui .mpc-materials-input {
  margin-bottom: 1rem;
}

.mpc-search-ui .mpc-materials-input .box {
  max-width: 750px;
  margin: auto;
}

.mpc-search-ui .mpc-paginator,
.mpc-search-ui .mpc-active-filter-buttons,
.mpc-search-ui .mpc-search-ui-data-view {
  margin-top: 0.5rem;
}

.mpc-search-ui .mpc-paginator:not(:last-child) {
  margin-bottom: 0.5rem;
}

.mpc-search-ui .mpc-paginator:last-child {
  margin-bottom: 0;
}

.mpc-search-ui .pagination-ellipsis,
.mpc-search-ui .pagination-link,
.mpc-search-ui .pagination-next,
.mpc-search-ui .pagination-previous {
  margin-top: 0;
  margin-bottom: 0;
}

.mpc-search-ui .button.is-active {
  background: #3960e3;
  color: #fff;
  border-color: #dbdbdb;
}

.mpc-search-ui .mpc-search-ui-data-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 2em;
  row-gap: 2em;
}

.mpc-search-ui .mpc-search-ui-data-cards-container .box {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .mpc-search-ui .mpc-search-ui-left {
    min-width: 400px;
  }
}

@media screen and (max-width: 1224px) {
  .mpc-paginator > div:nth-child(2) {
    display: none;
  }
}
