.mpc-bib-card > *:not(:last-child) {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.mpc-bib-card .mpc-bib-card-title {
  font-weight: 600;
  font-size: 1rem;
}

.mpc-bib-card-journal {
  font-style: italic;
}

.mpc-bib-card-buttons {
  margin-top: 0.75rem;
}
