.mpc-synthesis-card-type {
  position: relative;
  top: -2rem;
  left: -0.5rem;
  height: 0.2rem;
}

.mpc-synthesis-card-equation {
  margin-bottom: 0.5rem;
  font-size: smaller;
  font-weight: bold;
}

.mpc-synthesis-card-paragraph {
  font-style: italic;
  font-size: smaller;
}

.mpc-synthesis-card-material-label {
  font-weight: bold;
  font-size: smaller;
}

.mpc-synthesis-card-highlight-hit {
  font-weight: bold;
  text-decoration: underline;
}

.mpc-synthesis-card-operations {
  font-size: smaller;
}

.mpc-synthesis-card-collapse-operations {
  cursor: pointer;
  font-size: smaller;
  color: #3960e3;
}

.mpc-synthesis-card-collapse-operations:hover {
  text-decoration: underline;
}
