.mpc-synthesis-card-type {
  position: relative;
  top: -2rem;
  left: -0.5rem;
  height: 0.2rem;
}

.mpc-synthesis-card-equation {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.mpc-synthesis-card-paragraph > *:first-child {
  margin-bottom: 0.5rem;
  border-left: 4px solid #b5b5b5;
  padding-left: 0.5rem;
}

.mpc-synthesis-card .mpc-data-block-footer {
  font-size: 0.85rem;
}

.mpc-synthesis-card-material-label {
  font-weight: bold;
}

.mpc-synthesis-card-material-label {
  font-weight: bold;
}

.mpc-synthesis-card-highlight-hit {
  background: yellow;
}

.mpc-synthesis-card-operations {
  font-size: smaller;
}

.mpc-synthesis-card-collapse-operations {
  cursor: pointer;
  font-size: smaller;
  color: #3960e3;
}

.mpc-synthesis-card-collapse-operations:hover {
  text-decoration: underline;
}

.mpc-synthesis-card-collapse {
  margin-top: 0.5rem;
}

.mpc-synthesis-card-collapse-chevron {
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.mpc-synthesis-card-collapse-opened .mpc-synthesis-card-collapse-chevron {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mpc-synthesis-card .mpc-formula {
  font-weight: 600;
}

@media screen and (min-width: 769px) and (max-width: 1116px) {
  .mpc-synthesis-card .mpc-data-block-item {
    min-width: auto !important;
    max-width: none !important;
  }
}
