@primary-color: white;
@bg: black;
h1 {
  color: @primary-color;
  background-color: @bg;
}

.sidebar-story {
  display: inline-block;
}

.sidebar-story .menu {
  position: fixed;
  width: 200px;
}

.sidebar-story .content {
  display: inline-block;
  margin-left: 200px;
  padding-left: 15px;
}

.sidebar-story .content p {
  height: 500px;
}

/*******************************************************

Destined for mp-web

*******************************************************/

body {
  font-family: Helvetica Neue !important;
}

.mp-dropdown .icon {
  display: none;
}

.bt-0 {
  border-top: 0 !important;
}

.is-hidden-with-transition {
  max-height: 0 !important;
  margin: 0;
}

.can-hide-with-transition {
  transition: 0.25s;
  overflow: hidden;
}

.badge {
  background: hsl(217, 71%, 53%);
  color: #fff;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  border-radius: 50%;
  margin-left: 0.5em;
  display: inline-block;
  line-height: 1.4em;
  font-size: 0.8em;
}
