@primary-color: white;
@bg: black;
h1 {
  color: @primary-color;
  background-color: @bg;
}

.sidebar-story {
  display: inline-block;
}

.sidebar-story .menu {
  position: fixed;
  width: 200px;
}

.sidebar-story .content {
  display: inline-block;
  margin-left: 200px;
  padding-left: 15px;
}

.sidebar-story .content p {
  height: 500px;
}

/*******************************************************

Destined for mp-web

*******************************************************/

body {
  font-family: Helvetica Neue !important;
}

.mp-dropdown .icon {
  display: none;
}

.bt-0 {
  border-top: 0 !important;
}

.panel-block-title {
  min-width: 504px;
}

.panel-block-children {
  margin-top: 0.75rem;
  padding-left: 1rem;
  border-left: 4px solid #e2e0e0;
}
